body{
    background-color: lightyellow;
}

.div1{
    background-color: rgb(35, 34, 34);
    width:100%;
    position: relative;
    height: 40px;
    border-radius: 20px;
}

.menu{
    display:inline;
    padding-right: 20px;
    color: white;
}


.nav1{
    text-align:center;
    position:relative;
    
}
